  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      --color01-color: #6B14FE;
      --color02-color: #2712E6;
      --color03-color: #2145FC;
      --color04-color: #126DE6;
      --color05-color: #14B6FE;
      --color06-color: #FAFAFA;
      --color07-color: #C4C4C4
  }

  *::-webkit-scrollbar {
      width: 10px;
  }

  *::-webkit-scrollbar-track {
      background: var(--color06-color);
  }

  *::-webkit-scrollbar-thumb {
      background-color: var(--color05-color);
      border-radius: 20px;
      border: 1px solid #2145FC;
  }

  html {
      height: 100%;
  }

  body {
      min-height: 100vh;
  }

  #container {
      border: 1px solid black;
      height: 100vh;
      position: relative;
      background-color: #FAFAFA;
  }

  #pagina-principal {
      position: absolute;
      top: 25vh;
      left: 2vw;
      width: 70%;
      height: 67vh;
      overflow-y: auto;
      border: 1px solid black;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: var(--color06-color);
  }

  .cabecalho {
      background-color: var(--color04-color);
      color: #fff;
      text-align: center;
      padding: 2%;
      font-size: 1.8rem;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 4px;
  }

  table {
      width: 100%;
  }

  #botao-cadastro {
      padding: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1rem;
      color: #fff;
      background-color: var(--color04-color);
      border: 0;
      border-radius: 3px;
      margin: 10px;
      cursor: pointer;
      text-transform: capitalize;

  }

  #botao-cadastro:hover {
      box-shadow: 1px 1px 2px var(--color04-color);
  }

  th {
      background-color: var(--color05-color);
      border-radius: 3px;
      text-transform: capitalize;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
  }

  td {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
  }

  #modalCadastrar {
      display: none;
      position: relative;
      background-color: #fefefe;
      top: 10.8%;
      padding: 20px;
      border: 1px solid #888;
      width: 26%;
      height: 67.3%;
      float: right;
      margin-right: 15px;
      text-align: center;
  }

  #modalEditar {
      display: none;
      position: relative;
      background-color: #fefefe;
      top: 10.8%;
      padding: 20px;
      border: 1px solid #888;
      width: 26%;
      height: 67.3%;
      float: right;
      margin-right: 15px;
      text-align: center;
  }

  .btnEdit{
    cursor: pointer;
  }

  .modal-head {
      padding: 10px;
      border-bottom: 1px solid black;
  }

  .fechar {
      color: #aaa;
      float: right;
      font-size: 20px;
      font-weight: bold;
  }

  .modal-body {
      float: left;
  }

  .espacos {
      position: absolute;
      width: auto;
      height: 61%;
      top: 15%;
  }

  input {
      padding: 18px 30px;
      margin: 8px;
  }

  .btnSalvarUsuario {
      padding: 12px 22px 12px 22px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-weight: bolder;
      background-color: #23CF5C;
      color: #fff;
      border-radius: 50px;
      cursor: pointer;
  }

  .btnExcluirUsuario {
      padding: 5px 10px 5px 10px;
      position: absolute;
      left: 25px;
      bottom: 30px;
      font-weight: bolder;
      background-color: #D12C38;
      color: #fff;
      border-radius: 50px;
      cursor: pointer;
  }

  .fechar:hover,
  .fechar:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }